### __FINAL ASSIGNMENT__

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Final.db

In [3]:
import csv, sqlite3
con = sqlite3.connect("Final.db")
cur = con.cursor()

In [6]:
import pandas as pd
df = pd.read_csv("ChicagoCensusData.csv")
df.to_sql("CHICAGO_CENSUS_DATA", con, if_exists="replace", index=False, method="multi")

df = pd.read_csv("ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists="replace", index=False, method="multi")

df = pd.read_csv("ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists="replace", index=False, method="multi", chunksize=200)

566

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### _Find the total number of crimes recorded in the CRIME table_

In [8]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///Final.db
Done.

[(533,)]

### Problem 2

##### _List community areas with per capita income less than 11000_

In [12]:
%sql SELECT Distinct(Community_Area_Name) FROM CHICAGO_CENSUS_DATA WHERE PER_CAPITA_INCOME > 11000

 * sqlite:///Final.db
Done.

[('Rogers Park',),
 ('West Ridge',),
 ('Uptown',),
 ('Lincoln Square',),
 ('North Center',),
 ('Lake View',),
 ('Lincoln Park',),
 ('Near North Side',),
 ('Edison Park',),
 ('Norwood Park',),
 ('Jefferson Park',),
 ('Forest Glen',),
 ('North Park',),
 ('Albany Park',),
 ('Portage Park',),
 ('Irving Park',),
 ('Dunning',),
 ('Montclaire',),
 ('Belmont Cragin',),
 ('Hermosa',),
 ('Avondale',),
 ('Logan Square',),
 ('Humboldt park',),
 ('West Town',),
 ('Austin',),
 ('East Garfield Park',),
 ('Near West Side',),
 ('North Lawndale',),
 ('Lower West Side',),
 ('Loop',),
 ('Near South Side',),
 ('Armour Square',),
 ('Douglas',),
 ('Oakland',),
 ('Grand Boulevard',),
 ('Kenwood',),
 ('Washington Park',),
 ('Hyde Park',),
 ('Woodlawn',),
 ('South Shore',),
 ('Chatham',),
 ('Avalon Park',),
 ('South Chicago',),
 ('Burnside',),
 ('Calumet Heights',),
 ('Roseland',),
 ('Pullman',),
 ('South Deering',),
 ('East Side',),
 ('West Pullman',),
 ('Hegewisch',),
 ('Garfield Ridge',),
 ('Archer Heights',),
 ('Brighton Park',),
 ('McKinley Park',),
 ('Bridgeport',),
 ('New City',),
 ('West Elsdon',),
 ('Gage Park',),
 ('Clearing',),
 ('West Lawn',),
 ('Chicago Lawn',),
 ('West Englewood',),
 ('Englewood',),
 ('Greater Grand Crossing',),
 ('Ashburn',),
 ('Auburn Gresham',),
 ('Beverly',),
 ('Washington Height',),
 ('Mount Greenwood',),
 ('Morgan Park',),
 ("O'Hare",),
 ('Edgewater',),
 ('CHICAGO',)]

### Problem 3

##### _List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)_

In [15]:
%sql SELECT DISTINCT(Case_Number) FROM CHICAGO_CRIME_DATA WHERE Description LIKE '%MINOR%'

 * sqlite:///Final.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### _List all kidnapping crimes involving a child?_

In [16]:
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DATE, DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE PRIMARY_TYPE='KIDNAPPING'

 * sqlite:///Final.db
Done.

[('HN144152', 'KIDNAPPING', '2007-01-26', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### _What kinds of crimes were recorded at schools?_

In [20]:
%sql SELECT DISTINCT(PRIMARY_TYPE), DESCRIPTION, LOCATION_DESCRIPTION , DATE FROM CHICAGO_CRIME_DATA \
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///Final.db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', '2005-05-04'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING', '2005-11-09'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', '2008-12-04'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', '2002-09-10'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', '2017-10-05'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS', '2010-03-10'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS', '2004-08-23'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING', '2010-05-13'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS', '2011-05-26'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS', '2009-10-13'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING', '2002-04-05'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING', '2001-10-22')]

### Problem 6

##### _List the average safety score for each type of school._

In [26]:
%sql SELECT "Elementary, Middle, or High School" AS School_Type, AVG(SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Elementary, Middle, or High School"

 * sqlite:///Final.db
(sqlite3.OperationalError) near "or": syntax error
[SQL: SELECT Elementary, Middle, or High School AS School_Type, AVG(SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY Elementary, Middle, or High School]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Problem 7

##### _List 5 community areas with highest % of households below poverty line_

In [28]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CHICAGO_CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5 ;

 * sqlite:///Final.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### _Which community area is most crime prone?_

In [34]:
%%sql
SELECT COMMUNITY_AREA_NUMBER ,COUNT(COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * sqlite:///Final.db
Done.

[(25.0, 43)]

### Problem 9

##### _Use a sub-query to find the name of the community area with highest hardship index_

In [36]:
%sql SELECT COMMUNITY_AREA_NAME FROM  CHICAGO_CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CHICAGO_CENSUS_DATA);

 * sqlite:///Final.db
Done.

[('Riverdale',)]

### Problem 10

##### _Use a sub-query to determine the Community Area Name with most number of crimes?_

In [37]:
%%sql
SELECT community_area_name FROM CHICAGO_CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA 
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)
LIMIT 1;

 * sqlite:///Final.db
Done.

[('Austin',)]